body
{
 /* background-color:#141212;
 color:#F9F9F9; */

 background-color:#121212;
 color:#F9F9F9;
}

h1,h2,h3,h4
{
  font-family: 'Raleway', sans-serif;
  font-weight:500;
}

p
{
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
}

header, footer
{
	background-color:#1f1f1fc7;
}

nav a
{
  font-family:'Raleway', sans-serif;
  font-weight:100;
  color:#F9F9F9;
  letter-spacing: 0.3em;
  text-align:center;
}

nav a:hover
{
  text-decoration:none;
  font-weight:600;
  color:#F9F9F9;
}

footer a
{
  font-family:'Raleway', sans-serif;
  font-weight:400;
  color:#F9F9F9;
  letter-spacing:0.1em;
}

footer a:hover
{
  text-decoration:none;
  font-weight:600;
  color:#F9F9F9;
}

a
{
  color:#F9F9F9;
}

a:hover
{
  color:#F9F9F9;
  text-decoration:none;
}



ul{
	list-style-type:none;
	padding:1em;
}

ul a
{
  font-weight:400;
}

ul a:hover
{
  text-decoration:none;
  font-weight:600;
  color:#F9F9F9;
}

.style-textsample
{
  font-size:4em;
}

.style-firasans
{
  font-family: 'Raleway', sans-serif;
}

.style-color1
{
  background-color:#F9F9F9;
}
.style-color2
{
  background-color:#141212;
}
.style-color3
{
  background-color:#1f1f1fc7;
}
