.flexbox-nav{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  flex-wrap:wrap;
}

.flexbox-nav-items{

}

.section-body-wrapper{
  position:relative;
  margin-top: 2em;
  margin-left:10%;
  margin-right:10%;
  min-height:100vh;
}

.flexbox-benefits-padding{
  margin-left:10%;
  margin-right:10%;
}

.flexbox-massages-padding{
  margin-left:5%;
  margin-right:5%;
  flex:1 1 100%;
}

.flexbox-flex{
  display:flex;
}

.flexbox-rowrap
{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.figure-benefits img{
    display: inline-block;
	width: 150px;
	height: 90px;
	cursor: pointer;
	margin-right: 3px;
	margin-bottom: 5px;

}


.flexbox-norowrap
{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.flexbox-1col
{
  flex:1 1 100%;
}

.flexbox-2row-item{
    padding: 1em;
  flex:1 1 40%;
  /*margin:0.5em;*/
}

/*
.flexbox-3row-item{
  padding: 0.3em 1em 1em 1em;
  flex:1 1 20%;
  margin:0.3em;
}
*/

.flexbox-3row-item h3{
    text-align: center;
}

/* Media Query Stuff */
@media (max-width: 702px){
    #nav > ul > li > a{
        margin:0;
        font-size:1.25em;
        line-height:3em;
      }
}


@media (max-width: 600px){
      .flexbox-norowrap{
        flex-direction:column;
      }
}

@media(max-width: 768px){
    .section-body-wrapper{
      position:relative;
      margin-top: 2em;
      margin-left:3%;
      margin-right:3%;
      min-height:100vh;
    }

    .flexbox-3row-item{
  padding: 0.3em 1em 1em 1em;
  flex:1 1 30%;
  margin:0.3em;      
}
    
}

@media(min-width: 769px){
    .flexbox-3row-item{
        padding: 0.3em 1em 1em 1em;
        flex:1 1 20%;
}
    .section-body-wrapper{
      position:relative;
      margin-top: 2em;
      margin-left:3%;
      margin-right:3%;
      min-height:100vh;
    }
    
         #staff-info .flexbox-3row-item{
        padding: 0.3em 1em 1em 1em;
        flex:1 1 50%;
}
    
    .section-body-wrapper{

  margin-top: 1em;
  margin-left:8%;
  margin-right:8%;
  min-height:100vh;
}
     #staff-info .flexbox-2row-item{
         padding: 0 3em 1em; 3em;
        flex:1 1 100%;
        margin-left: 0em;
/*        max-width:60%;*/
}
   
}


@media(min-width:426px)
{
    #staff-info .flexbox-2row-item{
        padding: 0 3em 1em; 3em;
        flex:1 1 100%;
        margin:auto;
}
    
    #staff-info .flexbox-3row-item{
        padding: 0 1em 0em 1em;
        flex:1 1 40%;
        flex-direction:row;
        min-width: 30%;
}
  
}

@media (max-width: 425px){
    .figure-benefits{
         flex-direction:column;
    }
    
.flexbox-2row-item{
  padding-top: 1em;
  flex:1 1 100%;
  /*margin:0.5em;*/
}

.flexbox-3row-item{
  padding-top: 1em;
  flex:1 1 100%;
  /*margin:0.3em;*/
}
    
  .flexbox-3row-item .figure-benefits{
  padding: 1em;
  /*margin:0.3em;*/
}
    #testimonials .flexbox-3row-item{
     padding-top: 0em;
        padding-left: 1em;
        padding-right: 1em;
    }


    .flexbox-rowrap{
     flex-direction:column;
    }
    
    #testimonials{
    margin-bottom:10px;
    
    }
    .flexbox-norowrap{
     flex-wrap:wrap;

    }

    .section-body-wrapper{
      margin:1em;
    }

}
